---
layout: default
title: Blog
permalink: /blog/
pagination:
  enabled: true
  collection: blog
---

{% include nav.html %}

<section class="mw6 mw7-ns center pa3 ph5-ns">

  {% for post in paginator.posts %}
  <article class="pb4 mb5 blog">
    <a href="{{ post.url }}" class="ph2 ph0-ns pb2 link db secondary underline-hover">
      <h1 class="f2 fw4 mb0 lh-title">{{ post.title }}</h1>
    </a>

    <div class="f6 fw4 light-silver pb4">
      {{ post.date | date_to_long_string }}
    </div>

    <div class="lh-copy measure">
      {{ post.content }}
    </div>
  </article>
  {% endfor %}

  {% if paginator.total_pages > 1 %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' |  replace: 'index.html', '' }}" class="fl no-underline secondary underline-hover pb4">↫ Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' |  replace: 'index.html', '' }}" class="fr no-underline secondary underline-hover pb4">Older ↬</a>
  {% endif %}

{% endif %}

</section>
