---
layout: default
---

{% include nav.html %}

<header class="bg-customgrey">
  <div class="center ph3 ph4-ns ph4-l pv5">
    <h2 class="f4 f3-l secondary"><span class="primary">We Are Thought Fox</span> is a tiny studio</h2>
    <h1 class="f1 f-headline-l mt0 secondary">Making the web
    </h1>
  </div>
</header>

<section>
  <div class="center ph3 ph4-ns ph4-l pv4 pv5-l">
    <h2 class="f4 f2-l secondary fw4 measure">We <span class="primary">bring ideas to life</span> on the web through research, design, making and storytelling. Take a look.</h2>
  </div>
</section>

<section class="cf center ph3 ph4-ns pb5">
  {% assign publishedPosts = site.work | where: 'featured', 'true' %}
    {% for work in publishedPosts reversed limit:10 %}
      <article class="fl w-100 w-33-l pa3-ns">
        <a href="{{ work.url }}">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img style="background-image:url({{ work.image }});"
          class="db bg-center cover aspect-ratio--object dim" />
        </div>
        </a>
        <a href="{{ work.url }}" class="pb2 link db dim">
          <h3 class="f5 f4-ns mb0">{{ work.title }}</h3>
        </a>
        <p class="light-silver pb3">{{work.excerpt}}</p>
      </article>
  {% endfor %}
</section>

<section id="sectors" class="pt4 pt0-l pb4 pt0-l bt b--black-10">
  <div class="cf mw9 ph3 ph4-l pb5-l center">
  <div class="fr w-100 w-80-l">
    <h2 class="mt4 mb3 mb5-ns f1 f-subheadline-l secondary">We’ve worked with
    </h2>
  </div>
  <div class="f4 lh-copy fl w-100 mb4-ns">
    <div class="fl-ns w-100 w-20-l pr3-m pr5-l">
      <p>
        International Criminal Court
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        United Nations
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        Amnesty International
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        BBC
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        Trinity Mirror
      </p>
    </div>
  </div>

  <div class="f4 lh-copy fl w-100 mb4">
    <div class="fl-ns w-100 w-20-l pr3-m pr5-l">
      <p>
        The National
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
        WorldSkills
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
      Cafod
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
      Barjeel
      </p>
    </div>
    <div class="fl-ns w-50-m w-20-l pr3-m pr5-l">
      <p>
      News International
      </p>
    </div>
  </div>
  </div>

</section>

{% include contact.html %}
