---
layout: default
---

{% include nav.html %}

<header class="bg-customgrey">
  <div class="center ph3 ph4-ns ph4-l pv5">
    <h2 class="f4 f2-l secondary"><span class="primary">We Are Thought Fox</span> is a tiny studio</h2>
    <h1 class="f1 f-headline-l mt0 secondary">Making the web
    </h1>
  </div>
</header>

<section>
  <div class="center ph3 ph4-ns ph4-l pv4 pv5-l">
    <h2 class="f3 f1-l secondary fw4">We <span class="primary">bring ideas to life</span> on the web through research, design, making and storytelling. Take a look.</h2>
  </div>
</section>

<section class="cf center ph3 ph4-ns pb5-l">
  {% assign publishedPosts = site.work | where: 'featured', 'true' %}
    {% for work in publishedPosts reversed limit:10 %}
      <article class="fl w-100 w-33-l pa3-ns">
        <a href="{{ work.url }}">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img style="background-image:url({{ work.image }});"
          class="db bg-center cover aspect-ratio--object dim" />
        </div>
        </a>
        <a href="{{ work.url }}" class="pb2 link db dim">
          <h3 class="f5 f4-ns mb0">{{ work.title }}</h3>
        </a>
        <p class="light-silver pb3">{{work.excerpt}}</p>
      </article>
  {% endfor %}
</section>

{% include contact.html %}
