<section class="bg-primary">
  <div class="center ph3 ph4-ns pv4 pv5-l">
  <h2 class="f3 f1-l secondary fw4 customgrey">Get in touch to discuss a project. Here's <a href="/info" class="customgrey dim current">some ideas about how we can help.</a></h2>
  <div id="contact" class="mw6 mw7-ns pt4">
    <span itemscope itemtype="http://schema.org/Corporation">
      <span class="dn" itemprop="name">{{ site.name }}</span>
        <a class="dim f5 f3-ns link ph3 ph4-l pv2 mb4 mr3-ns dib white bg-secondary ttu tracked" href="mailto:{{ site.email }}">Email us</a>
        <meta itemprop="email" content="{{ site.email }}">
  </div>
</div>
</section>
