<section class="bg-primary cf">
  <div class="ph4 pv4 pv5-l">
  <h2 class="f4 f3-l secondary fw4 customgrey">Let's make something great together. {% if page.permalink != '/info/' %} Here's <a href="/info" class="customgrey dim">how we can help you.</a></h2>{% endif %}
  <div id="contact" class="mw6 mw7-ns pt3">
    <span itemscope itemtype="http://schema.org/Corporation">
      <span class="dn" itemprop="name">{{ site.name }}</span>
        <a class="dim f5 f3-ns link ph3 ph4-l pv2 mb4 mr3-ns dib white bg-secondary ttu tracked" href="mailto:{{ site.email }}">Get in touch</a>
        <meta itemprop="email" content="{{ site.email }}">
  </div>
</div>
</section>
