<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <meta name="theme-color" content="#ffffff">

   <!-- Inline critical css -->
  <style type="text/css">{% include critical.css %}</style>

    <!-- External CSS -->
     <script>
    function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}
    // load a file
      loadCSS( "{{ site.baseurl }}/css/main.css");
    </script>

    <noscript>
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </noscript>

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="e1cd74c9-fad0-43b9-90f1-c4607ba1a377";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    {% seo %}

</head>
