//font-family
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,.h1,
h2,.h2,
h3,
.h3,
h4,
.h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

//_type-scale
html {
  font-size: $root-font-size;
  line-height: $root-line-height;
}

.f-headline { font-size: 6rem; }
.f-subheadline { font-size: 5rem;}

h1,.f1 { font-size: 3rem; }
h2,.f2 { font-size: 2.25rem; }
h3,.f3 { font-size: 1.5rem; }
h4,.f4 { font-size: 1.25rem; }
h5,.f5 { font-size: 1rem; }
h6,.f6 { font-size: .875rem; }
.f7 { font-size: .75rem; }

@media #{$breakpoint-not-small}{
  .f-6-ns,
  .f-headline-ns { font-size: 6rem; }
  .f-5-ns,
  .f-subheadline-ns { font-size: 5rem; }
  .f1-ns { font-size: 3rem; }
  .f2-ns { font-size: 2.25rem; }
  .f3-ns { font-size: 1.5rem; }
  .f4-ns { font-size: 1.25rem; }
  .f5-ns { font-size: 1rem; }
  .f6-ns { font-size: .875rem; }
  .f7-ns { font-size: .75rem; }
}

@media #{$breakpoint-medium} {
  .f-6-m,
  .f-headline-m { font-size: 6rem; }
  .f-5-m,
  .f-subheadline-m { font-size: 5rem; }
  .f1-m { font-size: 3rem; }
  .f2-m { font-size: 2.25rem; }
  .f3-m { font-size: 1.5rem; }
  .f4-m { font-size: 1.25rem; }
  .f5-m { font-size: 1rem; }
  .f6-m { font-size: .875rem; }
  .f7-m { font-size: .75rem; }
}

@media #{$breakpoint-large} {
  .f-6-l,
  .f-headline-l {
    font-size: 6rem;
  }
  .f-5-l,
  .f-subheadline-l {
    font-size: 5rem;
  }
  .f1-l { font-size: 3rem; }
  .f2-l { font-size: 2.25rem; }
  .f3-l { font-size: 1.5rem; }
  .f4-l { font-size: 1.25rem; }
  .f5-l { font-size: 1rem; }
  .f6-l { font-size: .875rem; }
  .f7-l { font-size: .75rem; }
}


//_border-colors
.b--primary { border-color: $primary-color }
.b--secondary { border-color: $secondary-color; }
.b--customgrey { border-color: $grey-color; }

.b--primary:after { border-color: $primary-color }
.b--secondary:after { border-color: $secondary-color; }
.b--customgrey:after { border-color: $grey-color; }

//_skins
.primary { color: $primary-color }
.secondary { color: $secondary-color; }
.customgrey { color: $grey-color; }

//also using .light-silver

.bg-primary { background-color: $primary-color }
.bg-secondary { background-color: $secondary-color; }
.bg-customgrey { background-color: $grey-color; }

//skins-pseudo

.hover-primary:hover { color: $primary-color; }
.hover-primary:focus { color: $primary-color; }

//_typography
html,
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.25;
  color: $secondary-color;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}

//_max-widths
.mw4-5  {  max-width: 12rem; }

// columns

.col2 {
  column-count: 2;
  column-gap: 2em;
}

.work-content p {
  @extend .pb3;
}

p a {
  @extend .primary;
  @extend .dim;
}

ul.dash > li:before {
  content: '\2014'; /* en dash here */
  position: absolute;
  margin-left: -1.1em;
}

.current {
  text-decoration: none;
  position: relative;
}

.current:after  {
  content: "";
  border-style: solid;
  border-bottom-width: $spacing-extra-small;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -$spacing-small;
}

.animate-text {
  position: relative;
}

.animate-text .letters {
  position: absolute;
  left: 0;
  top: 0.5rem;
  left: 0;
  opacity: 0;
}

.bounce {
  -moz-animation: bounce 2s forwards 1;
  -webkit-animation: bounce 2s forwards 1;
  animation: bounce 2s forwards 1;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
