<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">

  {% include head.html %}

  <body class="overflow-x-hidden">
    <a href="#content" class="skip">Skip to content</a>
    <main id="content">
      {{ content }}
    </main>

  {% include footer.html %}

    <!-- Start of Netlify admin code -->
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function (user) {
      if (!user) {
        window.netlifyIdentity.on("login", function () {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

 <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- Minimal viable service worker -->
   <script>
      if (navigator.serviceWorker && !navigator.serviceWorker.controller) { navigator.serviceWorker.register('/serviceworker.js'); }
    </script>
  </body>
</html>
